body{
    background-color: antiquewhite;

}

h1{
    text-decoration: underline;
    text-align: center;
}
.question{
    color: cadetblue;
    font-size: 20px;
}

p{
    color: tomato;
    font-size: 20px;
}

pre{
    color: teal;
    font-size: 20px;
}